.navbar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 30px;
}

.navbar a {
	color: var(--neutral-dark-gray);
}

.logo {
	max-height: 150px;
	max-width: 150px;
}

.navLinks {
	display: flex;
	gap: 3rem;
}

.navLinks a {
	color: var(--main-black);
	text-decoration: none;
	font-size: 1.1rem;
	transition: all 0.2s ease-in-out;
}

.navLinks a:hover {
	font-size: 1.2rem;
}
