*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	padding: 30px;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

a {
	text-decoration: none;
	color: var(--neutral-dark-gray);
}

input:focus {
	outline: none;
}

:root {
	--main-beige: #a18a68;
	--main-white: #ffffff;
	--main-black: #000000;
	--neutral-dark-gray: #707070;
	--neutral-gray: #d8d8d8;
	--neutral-light-gray: #efefef;
	--error: #d82700;
}
