.wrapper {
	margin: 50px auto 100px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	max-width: 500px;
}

.header {
	color: var(--main-black);
	text-align: center;
	margin: 20px 0 30px 0;
}

.buttonsWrapper {
	width: 80%;
	border-radius: 5px;
	background-color: var(--neutral-light-gray);
	display: flex;
	justify-content: center;
	gap: 5px;
	padding: 5px;
	margin-bottom: 30px;
}

.button {
	width: 48%;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s ease-in;
	padding: 5px;
}

.button:hover {
	cursor: pointer;
	background-color: var(--main-white);
}

.input {
	width: 80%;
	border: none;
	border-bottom: 1px solid var(--neutral-dark-gray);
	padding: 5px 0 5px 0;
}

.submitButton {
	width: 80%;
	color: var(--main-white);
	background-color: var(--main-black);
	border-radius: 5px;
	padding: 5px;
}
