.wrapper {
	margin: 0 auto;
	max-width: 80vw;
	padding: 20px;
}

.heading {
	text-align: center;
	color: var(--neutral-dark-gray);
	padding-bottom: 20px;
	margin-bottom: 2rem;
	border-bottom: 1px solid var(--neutral-light-gray);
}
